[Desktop Entry]
Version=1.0
Type=Application
Name=Install Archimation to Disk
GenericName=OS Installer
Comment=Install this live ISO onto a disk
Exec=xfce4-terminal --hold --title="Archimation Installer" -e "sudo /usr/bin/ai-install-to-disk"
Icon=system-software-install
Terminal=false
Categories=System;Settings;
Keywords=install;setup;disk;partition;arch;archimation;
StartupNotify=true
